@use 'base';
@use 'component';
@use 'elements';

@use './Tab';

@include component.define(Tab, Tab.$vars) {
    .root {
        box-sizing: border-box;
        position: relative;
        min-height: component.var(height);
        border: none;
        padding-inline: component.var(padding);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: component.var(gap);
        border-radius: component.var(radius);
        font-family: base.var(font-family);
        font-size: component.var(font-size);
        font-weight: component.var(font-weight);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;

        @include elements.interactive;
        @include elements.disabled-state;
        @include elements.slot-padding(component.var(padding), base.var(space-xs));
    }

    .start,
    .content,
    .end {
        display: inline-flex;
        align-items: center;
    }

    @include component.sizes(Tab.$sizes);
}