@use 'base';
@use 'component';

@use './TabGroup';

@include component.define(TabGroup, TabGroup.$vars) {    
    .root {
        position: relative;
        display: flex;
        gap: component.var(gap);
    }

    .tab {

    }

    .align {
        &-start {
            justify-content: start;
        }

        &-center {
            justify-content: center;
        }

        &-end {
            justify-content: end;
        }
    }

    .fluid {
        width: 100%;

        .tab {
            flex: 1 1 auto;
        }
    }

    @include component.gaps((
        s: base.var(space-xxs),
        m: base.var(space-xs),
        l: base.var(space-s),
    ));
}