@use './base';
@use './utils/css' as css;

@mixin caret($size: 18px) {
    &::after {
        content: '';
        display: inline-block;
        width: $size;
        height: $size;
        margin-left: auto;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJz48cGF0aCBkPSdNNiA5TDEyIDE1TDE4IDknIHN0cm9rZT0nIzUzNTI1Qycgc3Ryb2tlLXdpZHRoPScxLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPg==');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .2s;
        opacity: .75;
    }
}

@mixin disabled($opacity: base.var(opacity-medium)) {
    opacity: $opacity;
    cursor: default;
    pointer-events: none;
}

@mixin disabled-state {
    &:disabled,
    &[aria-disabled='true'] {
        @include disabled;
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin interactive {
    cursor: pointer;
    user-select: none;
    transition:
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

@mixin non-interactive {
    cursor: default;

    &:hover {
        border-color: css.var(border-color);
        background-color: css.var(background-color);
        color: css.var(foreground-color);
    }

    &:active {
        border-color: css.var(border-color);
        background-color: css.var(background-color);
        color: css.var(foreground-color);
    }
}

@mixin slot-padding($padding, $min-padding, $factor: 0.625) {
    &:has(.start, .icon) {
        padding-inline-start: max(calc($padding * $factor), $min-padding);
    }

    &:has(.end) {
        padding-inline-end: max(calc($padding * $factor), $min-padding);
    }
}

@mixin shadows($sizes: (xxs, xs, s, m, l, xl, xxl), $hover: false) {
    @each $size in $sizes {
        #{if(&, '&', '')}.shadow-#{$size} {
            @include base.vars((
                shadow: base.var(shadow-#{$size})
            ));
        }

        @if $hover {
            .shadow-hover-#{$size} {
                transition: box-shadow 0.15s ease-in-out;
                
                &:hover {
                    @include base.vars((
                        shadow: base.var(shadow-#{$size})
                    ));
                }
            }
        }
    }
}

@mixin scrollbar(
    $width: 8px,
    $track-color: var(--ui-tinted-color),
    $thumb-color: var(--ui-outlined-color),
    $thumb-hover-color: var(--ui-outlined-active-hover-color)
) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
        border-radius: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        height: 56px;
        border: 2px solid transparent;
        border-radius: 8px;
        background-clip: content-box;
        background-color: $thumb-color;
    
        &:hover {
            background-color: $thumb-hover-color;
        }
    }
}

@mixin scroll-fade-static(
    $fade-size: 40px,
    $scrollbar-size: 8px
) {
    $gradient: linear-gradient(to bottom, transparent 0%, white #{$fade-size}, white calc(100% - #{$fade-size}), transparent 100%);
    $solid: linear-gradient(white, white);

    -webkit-mask-image: $gradient, $solid;
    -webkit-mask-position: left top, right top;
    -webkit-mask-size: calc(100% - #{$scrollbar-size}) 100%, $scrollbar-size 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: $gradient, $solid;
    mask-position: left top, right top;
    mask-size: calc(100% - #{$scrollbar-size}) 100%, $scrollbar-size 100%;
    mask-repeat: no-repeat;
}

@mixin scroll-fade-dynamic(
    $fade-size: 40px,
    $scrollbar-zone: 16px
) {
    $solid-right: linear-gradient(white, white);
    $top-fade:  linear-gradient(to bottom, transparent 0%, white #{$fade-size}, white 100%);
    $bottom-fade: linear-gradient(to bottom, white 0%, white calc(100% - #{$fade-size}), transparent 100%);
    $both-fade: linear-gradient(to bottom, transparent 0%, white #{$fade-size}, white calc(100% - #{$fade-size}), transparent 100%);

    -webkit-mask-position: left top, right top;
    -webkit-mask-size: calc(100% - #{$scrollbar-zone}) 100%, $scrollbar-zone 100%;
    -webkit-mask-repeat: no-repeat;
    mask-position: left top, right top;
    mask-size: calc(100% - #{$scrollbar-zone}) 100%, $scrollbar-zone 100%;
    mask-repeat: no-repeat;

    &.top-fade.bottom-fade {
        mask-image: $both-fade, $solid-right;
        -webkit-mask-image: $both-fade, $solid-right;
    }

    &.top-fade:not(.bottom-fade) {
        mask-image: $top-fade, $solid-right;
        -webkit-mask-image: $top-fade, $solid-right;
    }

    &.bottom-fade:not(.top-fade) {
        mask-image: $bottom-fade, $solid-right;
        -webkit-mask-image: $bottom-fade, $solid-right;
    }

    &:not(.top-fade):not(.bottom-fade) {
        mask-image: none;
        -webkit-mask-image: none;
    }
}